{% extends "catalog_admin/base.html" %}

{% block title %}<title>System Logs</title>{% endblock %}
<base href="/admin/"/>
{% block sidebar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'admin_index' %}">
      <i class="mdi mdi-account menu-icon"></i>
      <span class="menu-title">Users</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'view_managers' %}">
      <i class="mdi mdi-account-key menu-icon"></i>
      <span class="menu-title">Managers</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'system_logs' %}">
      <i class="mdi mdi-television-guide menu-icon"></i>
      <span class="menu-title">System Logs</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'access_logs' %}">
      <i class="mdi mdi-account-card-details menu-icon"></i>
      <span class="menu-title">Access Logs</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'access_attempts' %}" style="color:#4d83ff">
      <i class="mdi mdi-account-off menu-icon"></i>
      <span class="menu-title">Access Attempts</span>
    </a>
  </li>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Access Attempts</p>
              <div class="table-responsive">
                <table id="recent-purchases-listing" class="table">
                  <thead>
                    <tr>
                        <th style="width:10%;">No.</th>
                        <th style="width:15%;">Attempt Time</th>
                        <th style="width:25%;">IP Address</th>
                        <th style="width:25%;">By</th>
                        <th style="width:10%;">Failed Logins</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for log in logs %}
                    <tr>
                      <td>{{log.id}}</td>
                      <td>{{log.attempt_time}}</td>
                      <td>{{log.ip_address}}</td>
                      <td>{{log.username}}</td>
                      <td>{{log.failures_since_start}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}