{% extends "catalog_admin/base.html" %}

{% block title %}<title>Add Manager</title>{% endblock %}
<base href="/admin/"/>

{% block sidebar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'admin_index' %}">
      <i class="mdi mdi-account menu-icon"></i>
      <span class="menu-title">Users</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'view_managers' %}" style="color:#4d83ff">
      <i class="mdi mdi-account-key menu-icon"></i>
      <span class="menu-title">Managers</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'system_logs' %}">
      <i class="mdi mdi-television-guide menu-icon"></i>
      <span class="menu-title">System Logs</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'access_logs' %}">
      <i class="mdi mdi-account-card-details menu-icon"></i>
      <span class="menu-title">Access Logs</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'access_attempts' %}">
      <i class="mdi mdi-account-off menu-icon"></i>
      <span class="menu-title">Access Attempts</span>
    </a>
  </li>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 10px">
            <a href="{% url 'view_managers' %}" style="text-decoration:none; color:#9e9e9e" onmouseover='this.style.color="#636363"' onmouseout='this.style.color="#9e9e9e"'>
                <div class="d-flex align-items-end flex-wrap">
                    <i class="mdi mdi-keyboard-backspace hover-cursor back_button"></i>
                    <p class="mb-0 hover-cursor back_button">&nbsp;&nbsp;Back</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Manager</h4>
                    <form action="{% url 'add_manager' %}" class="form-sample" style="margin:0px" method="POST">
                        {% csrf_token %}
                        <p class="card-description">User information</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    {{manager_user_form.first_name}}
                                    {% for error in manager_user_form.first_name.errors%}
                                        <p class="card-description"><code>{{error}}</code></p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    {{manager_user_form.last_name}}
                                    {% for error in manager_user_form.last_name.errors%}
                                        <p class="card-description"><code>{{error}}</code></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    {{manager_user_form.email}}
                                    {% for error in manager_user_form.email.errors%}
                                        <p class="card-description"><code>{{error}}</code></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>ID Number</label>
                                    {{manager_profile_form.id_number}}
                                    {% for error in manager_profile_form.id_number.errors%}
                                        <p class="card-description"><code>{{error}}</code></p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Username</label>
                                    {{manager_user_form.username}}
                                    {% for error in manager_user_form.username.errors%}
                                        <p class="card-description"><code>{{error}}</code></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    {{manager_user_form.password1}}
                                    {% for error in manager_user_form.password2.errors%}
                                        <p class="card-description"><code>{{error}}</code></p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    {{manager_user_form.password2}}
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-right:10px; padding-bottom:0px">
                            <div class="col-md-12">
                                <div class="form-group row justify-content-end" style="margin:0px">
                                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                    <a href="{% url 'view_managers' %}" type="submit" class="btn btn-light">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}