{% extends "catalog_admin/base.html" %}

{% block title %}<title>Change Password</title>{% endblock %}
<base href="/admin/"/>
{% block sidebar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'admin_index' %}">
      <i class="mdi mdi-account menu-icon"></i>
      <span class="menu-title">Users</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'view_managers' %}">
      <i class="mdi mdi-account-key menu-icon"></i>
      <span class="menu-title">Managers</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'system_logs' %}">
      <i class="mdi mdi-television-guide menu-icon"></i>
      <span class="menu-title">System Logs</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'access_logs' %}">
      <i class="mdi mdi-account-card-details menu-icon"></i>
      <span class="menu-title">Access Logs</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'access_attempts' %}">
      <i class="mdi mdi-account-off menu-icon"></i>
      <span class="menu-title">Access Attempts</span>
    </a>
  </li>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 10px">
            <a href="{% url 'admin_index' %}" style="text-decoration:none; color:#9e9e9e" onmouseover='this.style.color="#636363"' onmouseout='this.style.color="#9e9e9e"'>
                <div class="d-flex align-items-end flex-wrap">
                    <i class="mdi mdi-keyboard-backspace hover-cursor back_button"></i>
                    <p class="mb-0 hover-cursor back_button">&nbsp;&nbsp;Back</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Change Password</h4>
                    <form action="{% url 'admin_change_password' %}" class="form-sample" method="POST">
                        <p class="card-description">User information</p>
                        {% csrf_token %}
                        {% for field in reset_password_form %}
                            <div class="form-group">
                                <label>{{field.label}}</label>
                                {{field}}
                                {% for error in field.errors %}
                                    <p class="card-description"><code>{{error}}</code></p>
                                {% endfor %}
                            </div>
                        {% endfor%}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row justify-content-end">
                                    <button type="submit" class="btn btn-primary mr-2">Save Changes</button>
                                    <a href="{% url 'admin_index' %}" type="submit" class="btn btn-light">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}