@font-face{
   font-family: Poppins, sans-serif;
   src: url(https://fonts.googleapis.com/css?family=Poppins&display=swap)
}

@font-face{
   font-family: PT Sans, sans-serif;
   src: url(https://fonts.googleapis.com/css?family=PT+Sans&display=swap)
}

html, body{
    font-family: Poppins, sans-serif;
}

section{
    height: 20%;
    background: white;
}

#navTxt{
    font-size: 3.5rem;
    padding-left: 50px;
    padding-top: 25px;
}

#userNav{
    font-size: 0.8rem;
    padding: 0.5rem;
}

#registerForm{
    background: orange;
    height: 60%;
}

legend{
    /*background: blue;*/
    font-size: 1rem;
}

.has-float-label{
    width: 300px;
    margin: 10px 0 10px 0;
}

.form-item{
    /*background: darkseagreen;*/
    font-size: 0.7rem;
    width: 300px;
    height: 8%;
    border: 0;
    border-bottom: 1px solid #544aff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

.submit-button{
    background: #8d8d8d;
    color: white;
    font-family: PT Sans, sans-serif;
    font-size: 0.9rem;
    width: 300px;
}

.has-search .form-control{
    padding-left: 2.375rem;
}

.has-search .form-control-feedback{
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.book_body{
    background: #f4f4f4;
    padding: 5px;
}

.book_card{
    background-color: white;
    padding: 50px;
    margin: 20px 50px;
    border-radius: 5px;
}

.book_card h5 a{
    color: #3151a2!important;
}

.book_card h6{
    color: #6e6e6e;
    font-weight: 300!important;
}

.book_revdeets{
    height: 8%;
    padding: 15px 20px 0px 20px;
    border-top: 1px solid lightgray;
}

.status_tag{
    padding-left: 25px;
}

.status_tag a{
    color: #6e6e6e;
    text-decoration: underline;
}

.reserve_btn{
    height: 100%;
    width: 100%;
    border: 0px;
}

.reserve_btn_a:hover{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.book_det_body{
    background: white;
}

.deets_container{
    padding-top:20px;
    padding-left:20px;
    color:#545454
}

.deets_container_title{
    margin:0px;
    border-bottom: 1px solid lightgray;
}

.back_button:hover{
    color:#454545 !important;
}

.available_deets{
    box-shadow: 0px 0px 5px 3px #e3e3e3;
    border-radius: 0px 0px 5px 5px;
}

.available_deets .row{
    height:25%;
}

.review_input{
    border-radius: 3px;
    border: 1px solid lightgray;
    height: 10%;
    padding: 10px;
}

.review_submit{
    padding: 5px!important;
    border: 0px;
    border-radius: 3px;
    height: 100%;
}