{% block title %}<title>Library</title>{% endblock %}
{%  load static %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
{#<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">#}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="{%  static 'catalog/style.css' %}" rel="stylesheet">

<section class="sticky-top">
    <div class="container-fluid">
        <div class="row topNav">
            <div class="col-md-2 font-weight-bold text-center" id="navTxt"><a href="{% url 'catalog_index' %}" id="library_button">library</a></div>
            <div class="col-md-3 ml-auto">
                <nav class="navbar navbar-expand-md navbar-light" id="userNav">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                          {% if user.is_authenticated %}
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">{{ user.get_username }}</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'logout' %}">LOG OUT</a>
                          </li>
                          {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'signup' %}">SIGN UP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">LOG IN</a>
                            </li>
                          {% endif %}
                        </ul>
                    </div>
                </nav>
                <form class="h-100 my-0" id="search" action="{% url 'catalog_index' %}" method="POST">
                    {% csrf_token %}
                    {% for field in search_form %} 
                    <div class="form-group has-search">
                        <span class="fas fa-search form-control-feedback"></span>
                        {{field}}
                    </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</section>
{% block content %}

{% endblock %}
<script src="{%  static 'catalog/catalog.js' %}"></script>