{% extends "catalog/base.html" %}

{% block title %}<title>Book Details</title>{% endblock %}

{% block content %}
    <div class="container-fluid book_body" style="height:80%">
        <div class="container-fluid h-100 book_det_body">
            <div class="back" style="padding:20px">
                <a href="{% url 'index' %}" class="back_button" style="color:lightslategray"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Back</a>
            </div>
            <div class="container-fluid book_deets">
                <div>
                    <div class="row w-100" style="padding:20px">
                        <div class="col-md-2">
                            <i class="fas fa-book fa-9x" style="color:#bfaa88;"></i>
                        </div>

                        <div class="col-md-6" style="padding:5px">
                            <h3><b>{{ book.title }}</b></h3>
                            <h5 style="color:#545454">{{ book.author }}</h5>
                        </div>

                        <div class="col-md-3 ml-auto available_deets" style="border-top: 3px solid #616161; margin:0px">
                            <div class="row" style="padding-top:10px">
                                <div class="col mx-auto my-auto">
                                    {% if status == 'a'%}
                                        <h5 style="color:#008000">Available for reservation</h5>
                                    {% elif status == 'r'%}
                                        <h5 style="color:#7c0000">All copies in use</h5>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mx-auto my-auto">
                                    <span>Copies: <b>{{num_total}}</b>&nbsp;&nbsp;&nbsp;</span>
                                    <span>Available: <b>{{num_available}}</b></span>
                                </div>
                            </div>
                            {% if status == 'a'%}
                                <div class="row" style="padding-top:10px; height:40%;">
                                    <div class="col mx-auto my-auto">
                                        <form action="{% url 'reserve_book' book_id=book.id %}" style="margin: 0; height: 100%;">
                                            <button class="reserve_btn reserve_btn_a" style="background:#008000; color:white">Reserve</button>
                                        </form>
                                    </div>
                                </div>
                            {% elif status == 'r'%}
                                <div class="row" style="padding-top:10px; height:40%;">
                                    <div class="col mx-auto my-auto"><button class="reserve_btn" style="background:lightgray; color:gray" type="button" disabled>Reserve</button></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="details_container" class="deets_container" style="padding:20px">
                    <p class="deets_container_title">Details</p>
                    <div class="row w-50" style="padding-top:10px; padding-left:10px">
                        <div class="col-md-3"><span><b>Publisher: </b></span></div>
                        <div class="col-md-6"><span>{{ book.publisher }}, {{ book.year }}</span></div>
                    </div>
                    <div class="row w-50" style="padding-left:10px">
                        <div class="col-md-3"><span><b>ISBN: </b></span></div>
                        <div class="col-md-6"><span>{{ book.isbn }}</span></div>
                    </div>
                </div>
                <div id="reviews_container" class="deets_container" style="padding:20px">
                    <form action="{% url 'book_details' book_id=book.id %}" method="POST">
                        {% csrf_token %}
                        <p class="deets_container_title">Reviews</p>
                        <div class="form-group" style="padding:10px 10px 0px 10px; margin-bottom:10px;">
                            {% for field in review_form %}
                                {{field}}
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-md-2 ml-auto" style="margin-right:10px; margin-top:0px;">
                                <input class="w-100 review_submit" type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                    {% for review in reviews %}
                        <div>
                            <span>
                                <p>{{ review.text }}</p>
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}