{% extends "catalog/base.html" %}

{% block title %}<title>Profile</title>{% endblock %}
<base href="/profile/" />
{% block content %}
<div class="container-fluid book_body">
    <div class="back" style="padding:20px;">
        <a href="{% url 'index' %}" class="back_button" style="color:lightslategray"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;&nbsp;Return to Library</a>
    </div>

    <div class="container-fluid user_history_body">
        <div class="row w-100" style="margin:0px; padding:0px">
            <div class="col-md-10">
                <h6 style="padding:20px 10px 15px"><b>Current Borrowed Books</b></h6>
                {% if current_borrowed_books|length == 0 %}
                    <div class="empty_history"><p>You currently have no books borrowed. Head to the catalogue to start borrowing!</p></div>
                {% else %}
                    {% for book_instance in current_borrowed_books %} 
                        <div class="row book_card">
                            <div class="col-md-1" style="padding:0px; margin:0px">
                                <i class="fas fa-book fa-5x" style="color:#bfaa88;"></i>
                            </div>
                            <div class="col-md-11" style="padding:0px 20px; margin:0px">
                                <h5><a href="{% url 'book_details' book_id=book_instance.book.id %}">{{book_instance.book.title}}</a></h5>
                                <h6>{{book_instance.book.author}}</h6>
                                <h6>Year Published - {{book_instance.book.year}}</h6>
                            </div>
                        </div>
                     {% endfor %}
                {% endif %}
                <h6 style="padding:20px 10px 15px"><b>Past Borrowed Books</b></h6>
                {% if status_dictionary.items|length == 0 %}
                    <div class="empty_history"><p>Your borrowed book history is empty! It's time to start borrowing.</p></div>
                {% else %}
                    {% for book, status in status_dictionary.items %} 
                    <div class="row book_card">
                        <div class="col-md-10" style="padding:0px; margin:0px">
                            <h5><a href="{% url 'book_details' book_id=book.id %}">{{book.title}}</a></h5>
                            <h6>{{book.author}}</h6>
                            <h6>Year Published - {{book.year}}</h6>
                        </div>
                        <div class="col-md-2 my-auto" style="padding:0px; margin:0px; height: 50px">
                            {% if status == 'a' %}
                                <form action="{% url 'reserve_book' book_id=book.id %}" style="margin: 0; height: 100%;">
                                    <button class="reserve_btn reserve_btn_a" style="background:#008000; color:white">Reserve</button>
                                </form>
                            {% elif status == 'r'%}
                                <button class="reserve_btn" style="background:lightgray; color:gray" type="button" disabled>Reserved</button>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-md-2" style="margin:0px; padding:0px">
                <div class="position-fixed dropdown" style="width:15%"> 
                    <button class="btn dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Change Password
                    </button>
                    <div class="dropdown-menu w-100" style="padding:0px; border:none">
                        <form action="{% url 'profile' %}" style="margin:0" method="POST">
                            <div class="my-auto" style="padding:15px">
                                {% csrf_token %}
                                {% for field in reset_password_form %}
                                    <div class="change-password-label mx-auto align-self-center">
                                        {{field}}
                                    </div>
                                {% endfor%}
                            </div>
                            <button type="submit" class="p-1 btn w-100 my-auto confirm-button">CONFIRM</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- <div>{{ user.get_username }}</div>
    <div>{{ user.profile.id_number}}</div> -->
{% endblock %}