{% extends "catalog/base.html" %}

{% block title %}<title>Profile</title>{% endblock %}
<base href="/profile/" />
{% block content %}
<div class="container-fluid book_body" style="height:80%">
    <div class="back" style="padding:20px;">
        <a href="{% url 'index' %}" class="back_button" style="color:lightslategray"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;&nbsp;Return to Library</a>
    </div>

    <div class="container-fluid user_history_body">
        <div class="row w-100">
            <div class="col-md-10">
                <h6 style="padding:10px"><b>Current Borrowed Books</b></h6>
                <div class="book_card">
                    {% for book_instance in current_borrowed_books %} 
                        <div>{{book_instance.book}}</div>
                    {% endfor %}
                </div>
                <h6 style="padding:10px"><b>Past Borrowed Books</b></h6>
                <div class="book_card">
                    {% for book_instance in past_borrowed_books %} 
                        <div>{{book_instance.book}}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-2 dropdown" style="margin:0px; padding:0px">
                <button class="btn dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Change Password
                </button>
                <div class="dropdown-menu w-100" style="padding:0px; border:none">
                    <form action="{% url 'profile' %}" style="margin:0" method="POST">
                        <div class="my-auto" style="padding:15px">
                            {% csrf_token %}
                            {% for field in reset_password_form %}
                                <div class="change-password-label mx-auto align-self-center">
                                    {{field}}
                                </div>
                            {% endfor%}
                        </div>
                        <button type="submit" class="p-1 btn w-100 my-auto confirm-button">CONFIRM</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- <div>{{ user.get_username }}</div>
    <div>{{ user.profile.id_number}}</div> -->
{% endblock %}