{% extends "catalog/base.html" %}

{% block title %}<title>Sign Up</title>{% endblock %}

{% block content %}
<div class="container-fluid my-auto">
  <form action="{% url 'signup' %}" method="POST" class="">
    {% csrf_token %}
    <div class="row h-75">
      <div class="col text-center my-auto" id="register">
        <legend>USER INFORMATION</legend>
        {% for field in profile_form %}
          <div class="form-item-container mx-auto">
            {{field}}
            <div class="error-container mx-auto">
              {% for error in field.errors %}
              <div class="font-weight-light text-justify error mx-auto">{{error}}</div>   
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        {% for field in user_form %}
          <div class="form-item-container mx-auto">
            {{field}}
            <div class="error-container mx-auto">
              {% for error in field.errors %}
              <div class="font-weight-light text-justify error mx-auto">{{error}}</div>   
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        <button type="submit" class="p-3 btn submit-button" id="registerBTN" style="margin-top:10px">REGISTER</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}